# def auto_header(snip):
# 	"""
# 		automatically makes secs and sub secs based off of the headers in markdown
# 		files
# 	"""
	
# 	hash = re.search('^[#+]\s\b') 
# 	sec_depth = [i for i in len(hashes)]

# snippet "^[#+]\s\b" "Auto-Header" bA

# `!p `
# endsnippet
